/* Import font */
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

/* Body styles */
body {
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: #fffaf3;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 10px 0;
}

/* Divider Style */
hr {
  min-width: 100px;
  max-width: 90vw;
}

/* Header Styles */
header {
  text-align: center;
  padding: 60px 20px;
  margin-bottom: -50px;
}

header h1 {
  font-style: italic;
  font-size: 3.5em;
  margin: 0;
}

header p {
  font-size: 2em;
  margin: 0;
}

nav a {
  color: #ffbd61;
  font-size: 1.25em;
  padding: 20px 10px;
  margin: 20px auto;
}

/* Bio Style */
#bio p {
  text-align: center;
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto 20px;
}

/* Course Tile Styles */
#courses {
  max-width: 100vw;
  margin-top: 20px;
}

.course {
  background-color: #fffcf9;
  min-width: 10vw;
  max-width: 60vw;
  padding: 10px 20px;
  border: solid #000;
  border-radius: 10px;
  margin: 10px auto 40px auto;
  position: relative;
}

.course h2 {
  font-size: 2em;
  margin-bottom: -10px;
}

.course.left {
  text-align: right;
  margin-left: 10px;
}

.course.left h3 {
  font-size: 1.25em;
  text-align: right;
  margin-bottom: 5px;
  margin-right: 15px;
}

.course.right {
  text-align: left;
  margin-right: 10px;
}

.course.right h3 {
  font-size: 1.25em;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.pretitle {
  font-style: italic;
  font-size: .65em;
  margin-right: -5px;
}

/* Project Button Styles */
.projects {
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #000;
  height: 100px;
  width: 100px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.3s;
}

.projects a::before {
  content: 'door_front';
  font-family: 'Material Symbols Outlined';
  font-size: 48px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  margin-bottom: 0px;
}

.projects a:hover {
  background-color: #f1f1f1;
}

.projects a:hover::before {
  content: 'door_open';
}

.projects a.disabled {
  pointer-events: none;
  cursor: default;
}

/* Project Description Styles */
.desc {
  font-size: 1em;
  line-height: 1.4;
  width: 200px;
  top: 0;
  position: absolute;
}

.course.left .desc {
  right: -250px;
}

.course.right .desc {
  left: -250px;
}

@media (max-width: 800px) { /* Smaller Screens */
  .desc {
    width: auto;
    margin-top: 10px;
    position: static;
  }

  .course.right .desc {
    left: auto;
    right: auto;
  }
}

/* Changelog Styles */
#changelog {
  text-align: center;
  max-width: 100vw;
  margin: 20px;
}

#changelog h2 {
  font-size: 1.6em;
  margin: 0 0 -10px 0;
}

.log-entry {
  background-color: #fffcf9;
  min-width: 10vw;
  max-width: 40vw;
  padding: 10px 20px;
  border: solid #000;
  border-radius: 10px;
  margin: 10px auto 20px auto;
  position: relative;
}

.log-entry a {
  color: #000;
}

.log-entry.left {
  text-align: right;
  margin-left: 50px;
}

.log-entry.right {
  text-align: left;
  margin-right: 50px;
}

.log-entry h3 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: -15px;
}

.log-entry p {
  line-height: 1.6;
  margin-bottom: 0;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 20px;
  margin-top: 0px;
}

footer a {
  color:#ffbd61;
  font-size: 1.25em;
}